.messageError {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    color: red;
    margin-left: 5px;
}

.mleft-20 {
    margin-left: 20px;
}

.image {
    margin: 0 1em 0 0;
    width: 20%;
}

.btn-cricle-terreno {
    position: fixed !important;
    top: 80% !important;
    left: 80% !important;
    background-color: #dc3545 !important;
    border: 0 !important;
    border-radius: 50% !important;
    color: rgb(240, 244, 245) !important;
    min-width: 50px !important;
    min-height: 50px !important;
    box-shadow: 0px 1px 10px 1px rgba(255, 255, 255, 0.6) !important;
    margin: 10px 0 !important;
}

.float_acctions {
    position: fixed !important;
    top: 60% !important;
    left: 63% !important;
    border: 0 !important;
    height: 10px !important;
    
}